<table class="container main-content feature">

  <tr>
    <td>
      <table class="row">
        <tr>

          <td class="wrapper header alert last">
            <table class="twelve columns">
              <tr>
                <td class="header__collapse">
                  <div class="text-pad">
                    <br/></br>

                    <h1 class="txt-center title-margin">translation missing: en.completed_verification_publisher.title</h1>
                    <p class="txt-center">translation missing: en.completed_verification_publisher.body</p>
                    <p class="txt-center"><a href="[[[%= discount_link %]]]">translation missing: en.completed_verification_publisher.discount_name</a></p>

                    <br/></br>

                  </div>
                <td class="expander"></td>
              </tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>


</table>
