<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<br>
<table class="container">
<tr>
  <td>
    <table class="row group">
      <tr>
        <td class="txt-center">
          <center>
            <a href=""><img width="280" height="140" src="http://placehold.it/640x320" class="inline-banner__image hide-for-small" alt=""><img width="280" height="140" src="http://placehold.it/640x320" class="inline-banner__image" alt=""></a>
          </center>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
</body></html>
