<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<table class="row meta">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <div class="footer-content">
                <br>
                <br>
                  <p class="txt-center"><img src="http://cdn.ymaservices.com/email_transactional/footer__sb-logo.jpg" class="center" alt=""></p>

                  <p class="txt-center"> Diese Nachricht wurde von Student Beans gesendet. Du hast diese E-Mail bekommen, weil du eine bestehende Beziehung mit Student Beans hast.
                  Wir nehmen den Schutz personenbezogener Daten sehr ernst. <a class="neutral" href="https://www.studentbeans.com/info/privacy">Informieren Sie sich über unsere Datenschutzbestimmungen</a></p>

              </div>
            </td>
          </tr>
          <tr>
            <td class="wrapper last">
              <table class="five columns">
                <tr>
                  <td class="six sub-columns">
                    <a class="neutral" href=""><img src="http://cdn.ymaservices.com/email_transactional/footer__facebook.jpg?v=000001" width="13" height="27" class="right" alt=""></a>
                  </td>
                  <td class="six sub-columns">
                    <a class="neutral" href=""><img src="http://cdn.ymaservices.com/email_transactional/footer__twitter.jpg?v=000001" width="31" height="28" class="" alt=""></a>
                  </td>

                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="wrapper last">
              <br>
              <p class="txt-center">Registered Office: 1 Vincent Square, London, SW1 2PN | Registered as a company in England and Wales, number: 5486885 | VAT Registration Number: 873 0262 33. Copyright 2014 Student Beans all rights reserved.</p>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
</body></html>
