<table class="row meta">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <div class="footer-content">
                <br>
                <br>
                  <p class="txt-center"><img src="http://cdn.ymaservices.com/email_transactional/footer__sb-logo.jpg" class="center" ></p>

                  <p class="txt-center"> translation missing: en.footer.reason.default
                  translation missing: en.footer.privacy.important <a class="neutral" href="https://www.studentbeans.com/info/privacy">translation missing: en.footer.privacy.policy</a></p>

              </div>
            </td>
          </tr>
          <tr>
            <td class="wrapper last">
              <table class="five columns">
                <tr>
                  <td class="six sub-columns">
                    <a class="neutral"  href=""><img src="http://cdn.ymaservices.com/email_transactional/footer__facebook.jpg?v=000001" width="13" height="27" class="right" ></a>
                  </td>
                  <td class="six sub-columns">
                    <a class="neutral"  href=""><img src="http://cdn.ymaservices.com/email_transactional/footer__twitter.jpg?v=000001" width="31" height="28" class="" ></a>
                  </td>

                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="wrapper last">
              <br>
              <p class="txt-center">translation missing: en.footer.office</p>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
