/**
  * Article
  */

$border-color: #ddd;

.article {
    background-color: #fff;
  .article__content {
    background-color: #fff;
    border: 1px solid $border-color; 
    padding: 10px;

    h1, h2, h3, h4, h5, h6, p, td {  
      color: #222; 
    }
  }
}

b.article__stack {
  display: block;
  height: 10px;
  border: 1px solid lighten($border-color, 5%);
  border-top-style: none;


  &.one {
    margin: 0 2.5%;
    background-color: #c8efc1 ;
    border-bottom: 1px solid #80ca74 ;    
  }

  &.two {
    margin: 0 5%;
    background-color: #8dde7f ;
    border-bottom: 1px solid #63c254 ;
  }
}
