/**
  * Discount
  */

$border-color: #ddd;

.discount {
  border: 2px solid #ddd; 
  padding: 10px 10px 0;
}
.discount__title {
  font-weight: normal;
  margin-bottom: 3px;
}

.discount__company {
  font-size: 14px;
}
