
/**
  * Global styles and helpers
  */

body, .body {
  background-color: #EFF0EB;
  background-image: url('http://cdn.ymaservices.com/email_transactional/background.jpg?v=0000004');
  background-repeat: repeat-x;
}

.main-content {
  background-color: #fff;
  border: 2px solid #DADADA;
}

.main-content.feature {
  background-color: #fff;
  border-top-style: none;
  border-bottom-style: none;
  padding-top: 0px;
  padding-bottom: 30px;

  .feature__footer {
    background-image: url('http://cdn.ymaservices.com/email_transactional/content__foot-bg.jpg?v=0000003');
    background-repeat: repeat-x;
    background-position: top left;
  }

  .feature__footer__column {
    width: 30px;
    padding: 0;
  }

}

.main-content.feature-image {
  border-top-style: none;
  border-bottom-style: none;
}

.footer-content {
    padding: 0 100px;
}

@media only screen and (max-width: 600px) {

  table[class="body"] .footer-content {
    padding: 0;
  }

}

/**
  * Text helper
  */


.txt-right { text-align: right; }
.txt-left { text-align: left; }
.txt-center { text-align: center; }


/**
  * Links
  */

a.strong {
  font-weight: bold;
}

a.neutral {
  font-weight: bold;
  color: #777;
}
