<h2>Hello,</h2>
<p>We've just received a request to change your Student Beans password. If you follow the link below then you'll be able to choose a new one.</p>
<a href="<%= tagify('reset_password_url') %>">Change my password</a>
<p>If you didn't request this (or have just realised you had Caps Lock on and don't want a new password), please ignore this email.</p>
<p>Your password won't change unless you access the link above and create a new one.</p>
<p>Thanks,</p>
<p>Student Beans</p>
