<br>
<table class="container">
<tr>
  <td>
    <table class="row group">
      <tr>
        <td class="txt-center">
          <center>
            <a href=""><img width="280" height="140" src="http://placehold.it/640x320" class="inline-banner__image hide-for-small"><img width="280" height="140" src="http://placehold.it/640x320" class="inline-banner__image"></a>
          </center>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
