<table class="container inline-banner bordered">
<tr>
  <td>
    <table class="row">
      <tr>
        <td class="wrapper">

          <table class="six columns hide-for-small">
            <tbody>
              <tr>
                <td class="collapse-bottom">

                 <center>
                    <img width="243" height="179" src="http://cdn.ymaservices.com/email_transactional/app_screen.png" class="inline-banner__image">
                  </center>

                </td>
                <td class="expander"></td>
              </tr>
            </tbody>
          </table>

        </td>

        <td class="wrapper last">

          <table class="six columns">
            <tbody>
              <tr>
                <td class="">
                  <br/>
                  <br/>
                  <p>translation missing: en.app_ad.description</p>

                  <a href="" class="inline-img"><img src="http://cdn.ymaservices.com/email_transactional/app_appstore_button.png" width="114" height="38" /></a>
                  <a href="" class="inline-img"><img src="http://cdn.ymaservices.com/email_transactional/app_googleplay_button.png" width="114" height="38" /></a>
                </td>
                <td class="expander"></td>
              </tr>
            </tbody>
          </table>

        </td>

      </tr>
    </table>
  </td>
</tr>
</table>
