<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<table class="row">
  <tr>
  
    <td class="wrapper header alert last">
        <table class="twelve columns">
          <tr>
            <td class="header__collapse">

              <div class="text-pad">
                <h3 class="txt-center title-margin">20% OFF ALL LISTED ITEMS</h3>
                <p class="txt-center">Use our Topshop student discount code at the checkout to enjoy 10% off tops, dresses &amp; accessories</p>
              </div>
              
            </td>
            <td class="expander"></td>
          </tr>

        </table>
      </td>

      
  </tr>
  <tr>
    <td class="wrapper offset-by-three">
      <table class="six columns" style="margin: 0">
        <tr>
          <td class="">

            <div class="text-pad">
              <table class="tiny-button">
                <tr>
                  <td>
                    <a href="#"><img src="http://cdn.ymaservices.com/email_transactional/global/deals__padlock.jpg" class="icon" alt=""> Button Label</a>
                  </td>
                </tr>
              </table>
              <br>
              <br>
            </div>

          </td>
          <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body></html>
