<table class="row">
  <tr>
    <td>
      <table class="block-grid four-up">
        <tr>
          <td>
            <a href="[[[%= company_link_1 %]]]" class="brand-logo"><img src="[[[%= company_image_1 %]]]" width="90" height="90" alt="[[[%= company_name_1 %]]]" ></a>
          </td><td>
            <a href="[[[%= company_link_2 %]]]" class="brand-logo"><img src="[[[%= company_image_2 %]]]" width="90" height="90" alt="[[[%= company_name_2 %]]]" ></a>
          </td><td>
            <a href="[[[%= company_link_3 %]]]" class="brand-logo"><img src="[[[%= company_image_3 %]]]" width="90" height="90" alt="[[[%= company_name_3 %]]]" ></a>
          </td><td>
            <a href="[[[%= company_link_4 %]]]" class="brand-logo"><img src="[[[%= company_image_4 %]]]" width="90" height="90" alt="[[[%= company_name_4 %]]]" ></a>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
