---
facebook_href: "https://www.facebook.com/studentbeans"
twitter_href: "https://twitter.com/studentbeans"
---

<%= render partial: "partials/global/header" %>
<br/>
<table class="container main-content">
  <tr>
    <td>
      <table class="row">
        <tr>

          <td class="wrapper header alert last">
            <table class="twelve columns">
              <tr>
                <td class="header__collapse">
                  <div class="text-pad">
                    <br/></br>

                    <h3 class="txt-center title-margin">Clicks-and-mortar bricks-and-clicks convergence B2C</h3>
                    <p class="txt-center">Global cross-media, bricks-and-clicks, remix rich B2B productize share. Engineer convergence folksonomies initiatives magnetic strategize social integrated metrics innovative folksonomies plug-and-play, "virtual; redefine; A-list, harness social, extensible."</p>
                    <p class="txt-center">Blogospheres; user-centred recontextualize streamline innovative applications visionary portals efficient tagclouds podcasts vertical share deploy harness. </p>
                    <p class="txt-center">Vortals models virtual networkeffects action-items ecologies, e-services mashups long-tail enable seamless embrace social convergence feeds utilize transparent. IntegrateAJAX-enabled one-to-one solutions syndicate synergies utilize blogging dynamic utilize podcasting, "embedded empower," viral webservices post bandwidth.</p>

                    <br/><br/>
                  </div>
                <td class="expander"></td>
              </tr>

            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<%= render partial: "partials/global/footer" %>
