<table class="row feature__footer">
  <tr>
    <td class="wrapper last">
      <table class="twelve columns">
        <tr>
          <td class="feature__footer__column">
            <br/>
            </div>
            <td class="expander"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

