<table class="row">
  <tr>
    <td>
      <table class="block-grid four-up">
        <tr>
          <td>
            <a href="https://www.studentbeans.com/student-discount/uk/kfc" class="brand-logo"><img src="<%= (environment == :development) ? "http://placehold.it/200x200?text=company_image_1" : 'https://ci4.googleusercontent.com/proxy/_elyoW8Y1YPX1-ivrmpyUiU92pyPdj-ijo3lD64_gTAsoY8t_lSDceOZo2grg6YhzipSEkV7GHptB722VinIVBoNZjUNyTPrulw9blBEL8--l0AoaAJWERnckX6kk3qe_HArQoDo3d9yz02Va13Z567jNlK8LA4dQUYUgTSjPv8zpE8=s0-d-e1-ft#http://cdn.studentbeans.com/offer_service/companies/logos/000/000/140/thumbnail/KFC_student_discount_logo.jpg' %>" width="90" height="90" alt="KFC" ></a>
          </td>
          <td>
            <a href="https://www.studentbeans.com/student-discount/uk/apple" class="brand-logo"><img src="<%= (environment == :development) ? "http://placehold.it/200x200?text=company_image_2" : 'https://ci6.googleusercontent.com/proxy/a3ghtyJB6vZNF0MiJ9XM-f84iZ69dY-00fay5hJDi0uLl1x4tK1frN4E6EzIre8wCIAPee4EYShp1BPyaGpPwemVIQXCCyjdCN1yvbsbE0b8nhxI39wQUqorObjmzJl-50RGZ4oUp5cGU62WfDh9=s0-d-e1-ft#http://cdn.studentbeans.com/offer_service/companies/logos/000/000/028/thumbnail/apple.jpg' %>" width="90" height="90" alt="Apple" ></a>
          </td>
          <td>
            <a href="https://www.studentbeans.com/student-discount/uk/topshop" class="brand-logo"><img src="<%= (environment == :development) ? "http://placehold.it/200x200?text=company_image_3" : 'https://ci6.googleusercontent.com/proxy/5C3A6Y8eue4-mx77WkIdiETF_P3wPZqMGyl2xNFGRR9oyUj1WNEVVYV7fzFDam7BShh97pya-uCEok4m4Q54KBpZCFGysUX2iZHAOeMiT6Zv6JYx4UFHxbhAVQBsspTlNplElgNFc1jJA73_a9DT2y0X46is60CdRg=s0-d-e1-ft#http://cdn.studentbeans.com/offer_service/companies/logos/000/000/315/thumbnail/Topshop_200x200.jpg' %>" width="90" height="90" alt="Topshop" ></a>
          </td>
          <td>
        <a href="https://www.studentbeans.com/student-discount/uk/calvin-klein" class="brand-logo"><img src="<%= (environment == :development) ? "http://placehold.it/200x200?text=company_image_4" : 'https://ci3.googleusercontent.com/proxy/1IP_am-KNMSjeSs6UN1Ugljniu8jV-Jy9y4CaqFlbKv-pvkAKiKm7NkL9S3znWeJwgpwp8d7lrIawrn2wVyvD0ufEqeWD8AcB6CmBGxvn5FzH19EVPLtuliKN3DibXZIrdnXMP7ezZc5LekaQt_-v3IhjLnHoFduwLgHHLyxnFuPgJjIo0SQ=s0-d-e1-ft#http://cdn.studentbeans.com/offer_service/companies/logos/000/000/565/thumbnail/Calvin-Klein-Student-Discount.jpg' %>" width="90" height="90" alt="Calvin Klein" ></a>
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
