<table class="row">
  <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tr>
            <td class="">
              <div class="text-pad">
                <p class="txt-center"><%= t( page_name + '.email_description', twitter: "<a href='http://twitter.com'>Twitter</a>", facebook: "<a href='http://facebook.com'>Facebook</a>")  %></p>
                <br/>

                <table class="six columns">
                  <tr>
                    <td class="">

                      <table class="button blue-button">
                        <tr>
                          <td>
                            <a href="[[[%= renew_link %]]]"><%= t( page_name + '.footer_button' )  %></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </td>
                    <td class="expander"></td>
                  </tr>
                </table>

                <br/>

              </div>
            </td>
            <td class="expander"></td>
          </tr>
        </table>
      </td>
  </tr>
</table>
